#category {
  border-radius: 7%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 13vh;
  align-items: center;
  .category-texts {
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    h1 {
      color: rgb(56, 180, 139);
      font-size: 54px;
      position: relative;
      font-family: "Faster One", cursive;

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 14%;
        background-color: #0af790;
        bottom: -23%;
        left: 43%;
      }
    }
    p {
      padding-left: 15px;
      font-size: 23px;
      color: #b87b6c;
      font-family: "Ewert", cursive;
    }
  }
  .category-accardion {
    display: flex;
    justify-content: center;
    .accordion {
      .accordion-item {
        &:hover {
          border: none;
          h2 {
            button {
              background-color: transparent;
            }
          }
          .accordion-body {
            background-color: #fcfbf0;
          }
        }
        h2 {
          button {
            padding: 20px 20px;
            background-color: #f5fbf4;
            color: rgb(175, 93, 56);
            font-size: 30px;
            font-family: "Zen Tokyo Zoo", cursive;
            padding-left: 50px;
            text-align: center;
          }
        }
        .accordion-body {
          background-color: #f8fcfa;
          color: rgb(130, 118, 118);
          font-size: 16px;
          text-align: center;
          font-family: "Emblema One", cursive;
          strong {
            color: #d28b79;
            font-size: 17px;
          }
        }
      }
    }
  }
}
