#pet-food1 {
  background-image: url("../image/new12.jpg");
  background-position: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .pet-food1 {
    font-size: 50px;
    color: rgb(231, 231, 185);
    text-transform: capitalize;
    margin-left: 600px;
    font-family: "Nosifer", cursive;
    transform: rotateX(-20deg);
  }
}
