#pet-food1 {
  background-image: url("../image/new12.jpg");
  background-position: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .pet-food1 {
    font-size: 50px;
    color: rgb(231, 231, 185);
    text-transform: capitalize;
    margin-left: 600px;
    font-family: "Nosifer", cursive;
    transform: rotateX(-20deg);
  }
  @media only screen and (max-width: 768px) {
    .pet-food1 {
      font-size: 50px;
      color: rgb(231, 231, 185);
      text-transform: capitalize;

      margin-left: 400px;
      font-family: "Nosifer", cursive;
      transform: rotateX(-20deg);
    }
  }
}
