#about {
  .about {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-card {
      border-left: 3px solid rgb(223, 36, 86);
      h6 {
        position: relative;
        margin-bottom: 20px;
        color: #053d42;
        font-family: "Vast Shadow", cursive;
        font-size: 26px;
        &::after {
          position: absolute;
          content: "";
          height: 2px;
          width: 13%;
          background-color: #12869e;
          bottom: -23%;
          left: 0;
        }
      }

      h1 {
        font-size: 23px;
        color: #1e6c74;
        font-family: "Ewert", cursive;
      }
      .about-text {
        width: 100%;

        p {
          font-size: 19px;
          width: 100%;
          color: rgb(107, 129, 129);
          font-family: "Nova Oval", cursive;
        }
      }
    }
  }
}
