* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 10;
}
header #header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #header-top nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
header #header-top nav h1 {
  text-shadow: 3px 3px 3px rgb(43, 252, 43);
  color: #fff;
  margin-right: 35px;
}
header #header-top nav #ul {
  display: flex;
  margin: auto 0;
  align-items: center;
  column-gap: 30px;
}
header #header-top nav #ul li .a-tag {
  font-size: 20px;
  text-shadow: 4px 2px 2px rgb(2, 17, 2);
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 7px;
  position: relative;
}
header #header-top nav #ul li .a-tag:hover {
  color: rgb(14, 184, 14);
}
header #header-top nav #ul li .a-tag:hover::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 65%;
  background-color: rgb(12, 218, 18);
  bottom: -20%;
  left: 19%;
}
header #header-top nav #ul .dropdown-toggle {
  font-size: 20px;
  text-shadow: 4px 2px 2px rgb(2, 17, 2);
  color: #fff;
  font-weight: bold;
}
header #header-top nav #ul .dropdown-toggle::after {
  display: none;
}
header #header-top nav #ul .dropdown-toggle:hover {
  color: rgb(14, 184, 14);
  border-bottom: 2px solid rgb(14, 184, 14);
}
header #header-top #header-icon i {
  color: #fff;
  font-size: 23px;
  text-shadow: 1px 2px 2px rgb(31, 208, 31);
}
header #header-top #header-icon i:hover {
  font-size: 23px;
  color: rgb(35, 151, 35);
}
header #upicon {
  position: fixed;
  right: 90px;
  bottom: 30px;
  padding: 10px;
  font-size: 36px;
  color: #3cb371;
  z-index: 10;
}

#hero-banner {
  height: 100vh;
  padding-top: 20vh;
  background-image: url("../image/hero-dog.jpg");
  border-bottom-left-radius: 13%;
  border-bottom-right-radius: 13%;
  background-attachment: fixed;
  background-size: cover;
}
#hero-banner #hero-text {
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
  row-gap: 20px;
}
#hero-banner #hero-text h1 {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}
#hero-banner #hero-text p {
  font-size: 30px;
  color: rgb(244, 227, 227);
}
#hero-banner #hero-text a {
  margin-left: 15px;
  width: 44%;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  background-color: #3cb371;
  padding: 7px 20px;
  border-radius: 10px;
  font-weight: 500;
  border: 3px solid transparent;
}
#hero-banner #hero-text a:hover {
  background-color: transparent;
  border-color: #3cb371;
}
#hero-banner #hero-text a i {
  font-size: 27px;
}

#hero {
  background-color: #fff;
  border-radius: 5%;
}
#hero #hero-img-text {
  height: 100vh;
  display: flex;
  align-items: center;
}
#hero #hero-img1 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
}
#hero #hero-img1 img {
  width: 100%;
  height: 100%;
  transition: scale 2s;
  border-radius: 12%;
}
#hero #hero-img1 img:hover {
  scale: 90%;
}
#hero #hero-img2 {
  overflow: hidden;
}
#hero #hero-img2 img {
  width: 100%;
  height: 100%;
  transition: scale 2s;
  border-radius: 8%;
}
#hero #hero-img2 img:hover {
  scale: 90%;
}
#hero #hero-text {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#hero #hero-text h1 {
  font-size: 50px;
  color: rgb(17, 147, 17);
}
#hero #hero-text .text {
  width: 100%;
}
#hero #hero-text .text p {
  font-size: 20px;
  width: 87%;
  color: rgb(169, 167, 167);
}

#acres {
  background-color: #e0e8d9;
  border-radius: 12%;
}
#acres #acres-img-text {
  height: 100vh;
  display: flex;
  align-items: center;
}
#acres #acres-img1 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
}
#acres #acres-img1 img {
  width: 100%;
  height: 100%;
  transition: scale 2s;
  border-radius: 12%;
}
#acres #acres-img1 img:hover {
  scale: 90%;
}
#acres #acres-img2 {
  margin-right: 20px;
  overflow: hidden;
}
#acres #acres-img2 img {
  height: 58vh;
  width: 100%;
  height: 100%;
  transition: scale 2s;
  border-radius: 8%;
}
#acres #acres-img2 img:hover {
  scale: 90%;
}
#acres #acres-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#acres #acres-text h1 {
  font-size: 60px;
  color: #2e8b57;
}
#acres #acres-text .text {
  width: 100%;
}
#acres #acres-text .text p {
  font-size: 20px;
  width: 87%;
  color: rgb(122, 120, 120);
}

#petcare {
  height: 100vh;
  display: flex;
  align-items: center;
}
#petcare .petcare-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
#petcare .petcare-text h1 {
  color: #2e8b57;
  font-size: 54px;
  position: relative;
}
#petcare .petcare-text h1::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 17%;
  background-color: rgb(12, 218, 18);
  bottom: -23%;
  left: 42%;
}
#petcare .petcare-text p {
  font-size: 23px;
  color: rgb(86, 84, 84);
}
#petcare .petcare-cards {
  margin-top: 40px;
}
#petcare .petcare-cards .petcare-card {
  display: flex;
  margin-bottom: 50px;
  gap: 20px;
}
#petcare .petcare-cards .petcare-card i {
  margin-top: 20px;
  font-size: 42px;
  color: #55db90;
}
#petcare .petcare-cards .petcare-card h3 {
  color: #2e8b57;
  font-size: 23px;
}
#petcare .petcare-cards .petcare-card .pet-text {
  width: 100%;
}
#petcare .petcare-cards .petcare-card .pet-text p {
  color: rgb(96, 91, 91);
  width: 70%;
}

#request-callback .carousel-caption {
  top: 300px;
  color: black;
}
#request-callback .carousel-caption .callback-heading h1 {
  color: #fff;
  font-weight: bold;
  font-size: 37px;
}
#request-callback .carousel-caption .callback-parag p {
  font-weight: 500;
  color: rgb(71, 192, 99);
  font-size: 23px;
}
#request-callback .carousel-caption button {
  padding: 10px 23px;
  color: #fff;
  border: none;
  background-color: #3cbc73;
  font-size: 23px;
  font-weight: bold;
  border-radius: 12px;
  border: 2px solid transparent;
}
#request-callback .carousel-caption button:hover {
  border-color: #3cbc73;
  background-color: transparent;
  color: #3cbc73;
}

#opinion-customers {
  height: 110vh;
  margin-top: 17px;
}
#opinion-customers .customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  row-gap: 27px;
}
#opinion-customers .customers .customers-text {
  text-align: center;
  display: flex;
  row-gap: 20px;
}
#opinion-customers .customers .customers-text h1 {
  color: #2e8b57;
  font-size: 40px;
  font-weight: bold;
  position: relative;
}
#opinion-customers .customers .customers-text h1::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 20%;
  background-color: rgb(12, 218, 18);
  bottom: -30%;
  left: 40%;
}
#opinion-customers .customers .customers-text p {
  color: rgb(184, 183, 183);
  font-size: 26px;
}
#opinion-customers .customers .customers-cards {
  position: relative;
}
#opinion-customers .customers .customers-cards .customers-img {
  position: relative;
  overflow: hidden;
}
#opinion-customers .customers .customers-cards .customers-img img {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  transition: scale 2s;
}
#opinion-customers .customers .customers-cards .customers-img img:hover {
  scale: 90%;
}
#opinion-customers .customers .customers-cards .customers-card {
  position: absolute;
  top: 120px;
  left: 590px;
  display: flex;
  align-items: center;
  height: 44vh;
  background-color: #fafdfb;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}
#opinion-customers .customers .customers-cards .customers-card:hover {
  background-color: #b9e4c6;
}
#opinion-customers .customers .customers-cards .customers-card i {
  color: #49ce83;
  font-size: 45px;
  position: absolute;
  top: -10px;
  left: -60px;
}
#opinion-customers .customers .customers-cards .customers-card .customers-parag {
  width: 100%;
}
#opinion-customers .customers .customers-cards .customers-card .customers-parag p {
  width: 90%;
  font-weight: 500;
  font-size: 20px;
  color: rgb(141, 138, 138);
}
#opinion-customers .customers .customers-cards .customers-card .customers-heading h5 {
  color: rgb(105, 104, 104);
}
#opinion-customers .customers .customers-cards .customers-card .customers-heading p {
  color: rgb(182, 179, 179);
  padding-left: 27px;
}

#our-partners {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f8fdf3;
  border-radius: 12%;
}
#our-partners .partners-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  margin-bottom: 40px;
}
#our-partners .partners-text h1 {
  color: #2e8b57;
  font-size: 54px;
  position: relative;
}
#our-partners .partners-text h1::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 17%;
  background-color: rgb(12, 218, 18);
  bottom: -30%;
  left: 42%;
}
#our-partners .partners-text p {
  font-size: 23px;
  color: rgb(86, 84, 84);
}
#our-partners .swiper {
  width: 100%;
  height: 100%;
}
#our-partners .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#our-partners .swiper .swiper-slide img {
  display: block;
  object-fit: cover;
  border-radius: 5%;
  width: 100%;
  height: 100%;
  transition: scale 2s;
}
#our-partners .swiper .swiper-slide img:hover {
  scale: 90%;
}

#asked-questions {
  height: 100vh;
  display: flex;
  align-items: center;
}
#asked-questions .questions .questions-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
#asked-questions .questions .questions-text .questions-heading {
  width: 100%;
  display: flex;
  justify-content: center;
}
#asked-questions .questions .questions-text .questions-heading h1 {
  width: 80%;
  font-size: 50px;
  color: #1e7443;
}
#asked-questions .questions .questions-text .questions-parag {
  width: 100%;
  display: flex;
  justify-content: center;
}
#asked-questions .questions .questions-text .questions-parag p {
  width: 80%;
  font-size: 20px;
  color: rgb(158, 156, 156);
}
#asked-questions .questions .questions-text a {
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 29px;
  margin-left: 66px;
  color: #fff;
  background-color: #2e8b57;
  border-radius: 17px;
  font-weight: bold;
  font-size: 20px;
}
#asked-questions .questions .questions-text a:hover {
  background-color: transparent;
  border-color: #2e8b57;
  color: #2e8b57;
}
#asked-questions .questions .questions-text a i {
  font-size: 23px;
}
#asked-questions .questions .questions-accardion .accordion .accordion-item h2 button {
  padding: 40px 20px;
  background-color: #e8faf0;
  color: rgb(126, 121, 121);
  font-size: 20px;
  font-weight: 500;
  padding-left: 50px;
}
#asked-questions .questions .questions-accardion .accordion .accordion-item .accordion-body {
  background-color: #f8fcfa;
}
#asked-questions .questions .questions-accardion .accordion .accordion-item .accordion-body p {
  font-size: 20px;
  color: #214b33;
  text-align: center;
}

#services {
  background-image: url("../image/services-bg.jpg");
  background-position: center;
  background-size: cover;
}
#services #services-text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#services #services-text h1 {
  font-size: 63px;
}
#services #services-text p {
  font-size: 23px;
}

#medical-checkup .medical-checkup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#medical-checkup .medical-checkup .medical-text {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  text-align: center;
}
#medical-checkup .medical-checkup .medical-text h1 {
  color: #2e8b57;
}
#medical-checkup .medical-checkup .medical-text .parag {
  width: 20%;
  margin-left: 200px;
  border-radius: 9px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 6px 20px;
  background-color: #67c08d;
}
#medical-checkup .medical-checkup .medical-text .medical-parag {
  width: 100%;
  display: flex;
  justify-content: center;
}
#medical-checkup .medical-checkup .medical-text .medical-parag p {
  width: 80%;
  font-size: 23px;
}
#medical-checkup .medical-checkup .medical-img {
  overflow: hidden;
}
#medical-checkup .medical-checkup .medical-img img {
  width: 100%;
  height: 100%;
  transition: scale 2s;
  border-radius: 6%;
}
#medical-checkup .medical-checkup .medical-img img:hover {
  scale: 90%;
}

#pet-grooming {
  background-color: #f0fef6;
  border-radius: 12%;
}
#pet-grooming .pet-grooming {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pet-grooming .pet-grooming .grooming-text {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  text-align: center;
}
#pet-grooming .pet-grooming .grooming-text h1 {
  color: #2e8b57;
}
#pet-grooming .pet-grooming .grooming-text .grooming-parag {
  width: 100%;
  display: flex;
  justify-content: center;
}
#pet-grooming .pet-grooming .grooming-text .grooming-parag p {
  width: 80%;
  font-size: 23px;
}
#pet-grooming .pet-grooming .grooming-img {
  overflow: hidden;
}
#pet-grooming .pet-grooming .grooming-img img {
  width: 100%;
  height: 100%;
  transition: scale 2s;
  border-radius: 6%;
}
#pet-grooming .pet-grooming .grooming-img img:hover {
  scale: 90%;
}

#pet-transport .pet-transport {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pet-transport .pet-transport .transport-text {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  text-align: center;
}
#pet-transport .pet-transport .transport-text h1 {
  color: #2e8b57;
}
#pet-transport .pet-transport .transport-text .transport-parag {
  width: 100%;
  display: flex;
  justify-content: center;
}
#pet-transport .pet-transport .transport-text .transport-parag p {
  width: 80%;
  font-size: 23px;
}
#pet-transport .pet-transport .transport-img {
  overflow: hidden;
}
#pet-transport .pet-transport .transport-img img {
  width: 100%;
  height: 100%;
  transition: scale 2s;
  border-radius: 6%;
}
#pet-transport .pet-transport .transport-img img:hover {
  scale: 90%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e8b57;
  height: 15vh;
}
footer:hover p {
  color: #3cbe74;
}
footer:hover span {
  color: #fff;
}
footer:hover i {
  color: #fff;
}
footer p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer p i {
  color: #18c262;
}
footer p span {
  color: #41ed8c;
  text-shadow: 1px 1px 1px rgb(88, 221, 88);
}

/*# sourceMappingURL=main.css.map */
