#services {
  background-image: url("../image/services-bg.jpg");
  margin-top: 10vh;
  background-position: center;
  background-size: cover;
  .services-text {
    height: 90vh;

    #services-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 3px solid #fff;

      h1 {
        transform: rotate(-10deg);
        color: #fff;
        font-size: 63px;
        font-family: "Tilt Prism", cursive;
      }
      p {
        transform: rotate(-10deg);
        font-size: 25px;
        color: #fff;
        font-family: "Wallpoet", cursive;
      }
    }
  }
}
