#slider {
  .showSlide {
    display: block;
  }

  .slidercontainer {
    width: 100%;
    position: relative;
    margin: auto;
  }
  .left,
  .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.1s ease;
    border-radius: 0 7px 7px 0;
    background-color: rgba(42, 137, 116, 0.8);
  }
  .right {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .content {
    color: #10ba76;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
  }
  .active {
    background-color: #169944;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2;
    animation-name: fade;
    animation-duration: 90s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 1;
    }
  }


}
