#services {
  background-image: url("../image/services-bg.jpg");
  margin-top: 10vh;
  background-position: center;
  background-size: cover;

  #services-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: #359e62;
      font-size: 63px;
    }
    p {
      font-size: 23px;
      color: #fff;
    }
  }
}
