header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 10;
  #header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10vh;
      h1 {
        text-shadow: 2px 2px 2px rgb(43, 252, 43);
        color: #fff;
        margin-right: 55px;
        font-family: "Nosifer", cursive;
        font-size: 30px;
        animation: movedown 1s linear 1;
        animation-delay: 1s;
        // visibility: hidden;
        animation-fill-mode: forwards;

        @keyframes movedown {
          0% {
            transform: translateY(-60px);
            visibility: visible;
          }
          100% {
            transform: translateY(0);
            visibility: visible;
          }
        }
      }
      #ul {
        display: flex;
        margin: auto 0;
        align-items: center;
        column-gap: 30px;
        animation: movedown 1s linear 1;
        animation-delay: 2s;
        // visibility: hidden;
        animation-fill-mode: forwards;

        li {
          .a-tag {
            font-size: 20px;
            text-shadow: 4px 2px 2px rgb(2, 17, 2);
            text-decoration: none;
            color: #fff;
            font-family: "Trade Winds", cursive;
            padding: 5px 5px;
            border-radius: 7px;
            position: relative;

            &:hover {
              color: rgb(14, 184, 14);
              &::after {
                position: absolute;
                content: "";
                height: 1.5px;
                width: 65%;
                background-color: rgb(12, 218, 18);
                bottom: -3%;
                left: 19%;
              }
            }
          }
        }
      }
    }

    #header-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      animation: movedown 1s linear 1;
      animation-delay: 3s;
      // visibility: hidden;
      animation-fill-mode: forwards;

      .dropdown {
        ul {
          background-color: #d3f2e0;
          li {
            a {
              color: rgb(13, 218, 163) !important;
            }
          }
        }
        .dropdown-toggle {
          font-size: 20px;
          text-shadow: 4px 2px 2px rgb(2, 17, 2);
          color: #fff;
          font-weight: bold;
          &::after {
            display: none;
          }
          &:hover {
            color: rgb(14, 184, 14);
          }
          i {
            padding-left: 60px;
            color: #fff;
            font-size: 23px;
            text-shadow: 1px 2px 2px rgb(31, 208, 31);
            &:hover {
              font-size: 23px;
              color: rgb(35, 151, 35);
            }
          }
        }
      }

      #menu {
        display: none;
        width: 30px;
      }
    }
  }

  #upicon {
    position: fixed;
    right: 90px;
    bottom: 30px;
    padding: 10px;
    font-size: 36px;
    color: #3cb371;
    z-index: 10;
  }

  @media only screen and (max-width: 992px) {
    #header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;

        #ul {
          display: none;
        }
      }
      #header-icon {
        #menu {
          display: block;
          margin-left: 10px;
        }
      }
    }

    #upicon {
      position: fixed;
      right: 90px;
      bottom: 30px;
      padding: 10px;
      font-size: 36px;
      color: #3cb371;
      z-index: 10;
    }
  }
}
