#request-callback {
  background-image: url("../image/young-couple-walk-dog-in-rain-PYF7W7R.jpg");
  background-size: cover;
  border-radius: 12%;

  .callback {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    height: 86vh;
    text-align: center;
    row-gap: 10px;
    .callback-heading {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        width: 67%;
        color: #fff;
        font-weight: bold;
        font-size: 60px;
      }
    }
    .callback-parag {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        width: 54%;
        font-weight: 500;
        color: #fff;
        font-size: 25px;
      }
    }
    button {
      padding: 10px 23px;
      color: #fff;
      border: none;
      background-color: #3cbc73;
      font-size: 23px;
      font-weight: bold;
      border-radius: 12px;
      border: 2px solid transparent;
      &:hover {
        border-color: #3cbc73;
        background-color: transparent;
      }
    }
  }
}
