#contacr-us {
  margin-top: 10vh;
  // margin-bottom: 12vh;
  background-image: url("../image/new-cnt2.webp");
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  margin-bottom: 3px;
  .contacr-us {
    .form {
      margin-top: 30px;
      background-color: rgba($color: #112d24, $alpha: 0.4);
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      .form-contactus {
        padding-top: 3vh;
        width: 60%;
        h1 {
          color: rgb(8, 132, 116);
          text-align: center;
          font-weight: bold;
          font-family: "Love Light", cursive;
          font-size: 50px;
        }
        h3 {
          margin-top: 19px;
          margin-bottom: 19px;
          color: rgb(237, 194, 65);
          text-align: center;
          font-weight: bold;
          font-family: "Sail", cursive;
        }

        input {
          text-indent: 4px;

          &::placeholder {
            color: brown;
            font-family: "Fleur De Leah", cursive;
            font-size: 29px;
          }
        }
        #exampleInputPhoto {
          background-color: rgb(245, 237, 245);
          font-family: "Fleur De Leah", cursive;
          font-size: 23px;
          color: brown;
        }
        textarea {
          text-indent: 8px;
          border-radius: 9px;
          outline: none;
          border-color: rgb(219, 210, 210);
          &::placeholder {
            color: brown;
            font-family: "Fleur De Leah", cursive;
            font-size: 23px;
          }
        }
        select {
          font-family: "Fleur De Leah", cursive;
          height: 40px;
          color: brown;
          border: 1px solid rgb(186, 182, 182);
          text-indent: 8px;
          font-size: 22px;
        }

        .button {
          border: 2px solid rgb(237, 194, 65);
          font-family: "Sail", cursive;
          margin-left: 24vh;
          padding: 7px 29px;
          color:rgb(237, 194, 65);
          font-size: 22px;
          border-radius: 23px;
          &:hover {
            background-color: rgb(237, 194, 65);
            color: #fff;
          }
        }
      }
    }
  }

  .contact-icon {
    color: rgb(83, 228, 141);
    font-family: "Love Light", cursive;
    p {
      font-size: 33px;

      i {
        font-size: 24px;
      }
    }
    span {
      font-size: 27px;
      i {
        font-size: 22px;
      }
    }
    .fa-phone-volume {
      color: rgb(12, 158, 29);
    }
    .fa-envelope-open-text {
      color: #d12222;
    }
    .fa-location-dot {
      color: rgb(213, 44, 44);
    }
  }
}
