#admin {
  .admin {
    .meessages-activity {
      width: 80%;
      margin-left: 20%;
      margin-top: 40px;
      h2 {
        text-align: center;
        color: rgb(85, 85, 239);
        font-family: "Nosifer", cursive;
      }
      #meessages {
        margin-top: 5vh;
        width: 75%;
        .card {
          border-color: rgb(40, 215, 130);
          padding: 10px 40px;
          border-radius: 23px;
          margin-left: 40px;
          margin-bottom: 20px;
          background-color: rgba($color: #000000, $alpha: 0.2);
          #img-text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
              width: 14%;
              height: 10vh;
              border-radius: 50%;
            }
            b {
              font-size: 23px;
              color: rgb(40, 215, 130);
            }
          }
          #text {
            text-align: center;
            color: rgb(215, 212, 234);
            font-size: 25px;
            font-family: "Fleur De Leah", cursive;
          }

          #icon {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .fa-eraser {
              color: red;
              font-size: 22px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
