#admin {
  .admin {
    .food-activity {
      width: 80%;
      margin-left: 20%;
      margin-top: 40px;
      h2 {
        text-align: center;
        color: rgb(85, 85, 239);
        font-family: "Nosifer", cursive;
      }

      #food-dinamik {
        background-color: transparent;
        border-radius: 6%;
        margin-bottom: 17vh;
        padding-bottom: 10vh;
        h1 {
          text-align: center;
          color: rgb(6, 177, 21);
          margin-top: 40px;
          margin-bottom: 40px;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            height: 2px;
            width: 14%;
            background-color: rgb(6, 217, 24);
            bottom: -23%;
            left: 43%;
          }
        }
        .search-sort {
          margin-bottom: 50px;
          padding-top: 20px;

          input {
            width: 72%;
            text-indent: 20px;
            height: 7vh;
            border-radius: 7px;
            border: 1px solid #29bce4;
            outline: none;
            margin-left: 10px;
            background-color: transparent;
            color: #29bce4;
            &::placeholder {
              color: #29bce4;
            }
          }
          select {
            height: 39.33px;
            color: #29bce4;
            border: 1px solid #29bce4;
            text-indent: 8px;
            background-color: transparent;
            border-radius: 7px;
            outline: none;
            height: 7vh;
          }

          .button {
            border: 1px solid #29bce4;
            border-radius: 7px;
            padding: 7px 38px;
            color: #29bce4;
            background-color: transparent;
            margin-left: 80px;
          }
        }

        .food-table {
          width: 100%;
          table {
            tr {
              &:hover {
                background-color: rgba($color: #000000, $alpha: 0.1);
              }
            }
            th {
              font-family: "Ma Shan Zheng", cursive;
              color: rgb(215, 228, 235);
              font-size: 39px;
              text-align: center;
              height: 8vh;
              padding-right: 30px;
              padding-left: 47px;
            }
            td {
              font-family: "Josefin Sans", sans-serif;
              color: rgb(165, 222, 226);
              font-size: 33px;
              text-align: center;
              height: 10vh;
              img {
                width: 18%;
              }
              i {
                font-size: 20px;
                padding-left: 20px;
                padding-right: 3px;
              }

              .fa-eraser {
                color: red;
                font-size: 26px;
                margin-right: 10px;
              }
              .fa-pen-to-square {
                font-size: 26px;
                color: rgb(30, 187, 30);
              }
            }
          }
        }
        #showmore {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
          .showmore {
            border: 1px solid #29bce4;
            border-radius: 7px;
            padding: 7px 38px;
            color: #29bce4;
            background-color: transparent;
          }
        }
      }
    }
  }
}
