#admin {
  .user-activity {
    width: 80%;
    margin-left: 21%;
    margin-top: 40px;

    h2 {
      text-align: center;
      color: rgb(85, 85, 239);
      font-family: "Nosifer", cursive;
    }
    #user-work {
      margin-bottom: 90px;
      background-color: transparent;
      border-radius: 12%;
      padding-top: 40px;
      padding-bottom: 40px;
      .user {
        .search-sort {
          margin-bottom: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 70%;
            text-indent: 10px;
            height: 6vh;
            border-radius: 7px;
            border: 1px solid rgb(40, 119, 214);
            outline: none;
            font-size: 27px;
            margin-left: 10px;
            background-color: transparent;
            color: rgb(40, 119, 214);
            font-family: "Fleur De Leah", cursive;
            &::placeholder {
              color: rgb(40, 119, 214);
            }
          }
        }
        .user-table {
          width: 90%;
          table {
            tr {
              &:hover {
                background-color: rgba($color: #000000, $alpha: 0.1);
              }
            }
            th {
              font-family: "Sail", cursive;
              color: rgb(238, 240, 243);
              font-size: 33px;
              text-align: center;
              height: 8vh;
              padding-right: 30px;
              padding-left: 47px;
            }
            td {
              font-family: "Josefin Sans", sans-serif;
              color: rgb(169, 237, 247);
              font-size: 20px;
              text-align: center;
              height: 10vh;
            }
          }
        }
      }
    }
  }
}
