#branches-work {
  margin-bottom: 90px;
  background-color: #eafbf0;
  border-radius: 12%;
  padding-top: 40px;
  padding-bottom: 40px;
  .branches-prices {
    display: flex;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .branches-heading {
      text-align: center;
      h1 {
        color: #359e62;
        font-size: 49px;
      }
      p {
        color: rgb(176, 170, 170);
        font-size: 27px;
      }
    }
    .branches-table {
      width: 90%;
      table {
        tr {
          &:hover {
            background-color: #cbf5df;
          }
        }
        th {
          color: #359e62;
          font-size: 23px;
          text-align: center;
          height: 8vh;
          padding-right: 20px;
        }
        td {
          color: rgb(84, 82, 82);
          font-size: 23px;
          text-align: center;
          height: 10vh;
          i {
            font-size: 20px;
            padding-left: 20px;
            padding-right: 3px;
          }
          .fa-landmark-dome {
            color: rgb(7, 105, 104);
          }
          .fa-location-dot {
            color: rgb(252, 46, 5);
          }
          .fa-calendar-check {
            color: #0c59b1;
          }
          .fa-phone-volume {
            color: #36a567;
          }
        }
      }
    }
  }
}
