#our-branches {
  height: 70vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  background-image: url("../image/new22.jpg");
  background-size: cover;
  background-position: center;
  border-end-start-radius: 5%;
  border-end-end-radius: 5%;

  .branches-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1 {
      font-family: "Vast Shadow", cursive;
      font-size: 48px;
      text-transform: uppercase;
      color: rgb(7, 133, 99);
    }
    p {
      text-transform: capitalize;
      font-size: 25px;
      font-family: "Sail", cursive;
      color: #fff;
    }
  }
}
