#pet-breeds3 {
  background-color: rgb(250, 250, 224);
  border-radius: 6%;
  margin-bottom: 17vh;
  padding-bottom: 10vh;
  h1 {
    text-align: center;
    color: rgb(240, 75, 60);
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
    font-family: "Kumar One Outline", cursive;
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 14%;
      background-color: rgb(6, 217, 24);
      bottom: -23%;
      left: 43%;
    }
  }
  p {
    color: rgb(218, 95, 42);
    text-align: center;
    font-size: 23px;
    font-family: "Nova Oval", cursive;
  }

  .search-sort {
    margin-bottom: 50px;
    font-family: "Neonderthaw", cursive;
    input {
      width: 72%;
      text-indent: 20px;
      height: 6vh;
      border-radius: 7px;
      border: 1px solid #fb8107;
      outline: none;
      margin-left: 10px;
      font-size: 27px;
      background-color: transparent;
      &::placeholder {
        color: #fb8107;
      }
    }
    select {
      font-size: 25px;
      height: 39.33px;
      color: #fb8107;
      border: 1px solid #fb8107;
      text-indent: 8px;
      background-color: transparent;
      border-radius: 7px;
      outline: none;
    }

    .button {
      border: 1px solid #fb8107;
      border-radius: 7px;
      padding: 2px 38px;
      font-size: 27px;
      color: #fb8107;
      background-color: transparent;
      margin-left: 80px;
    }
  }

  .cards {
    row-gap: 20px;

    .card {
      padding: 14px 27px;
      text-align: center;
      border-radius: 27px;
      border: 2px solid #fed56c;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      &:hover {
        .breeds-hover {
          display: flex;
          border-radius: 23px;
          background-color: rgba(rgb(7, 122, 51), $alpha: 0.2);
        }
      }
      img {
        border-radius: 20px;
        height: 30vh;
      }
      h2 {
        font-family: "Neonderthaw", cursive;
        color: rgb(252, 121, 45);
        font-size: 23px;
        padding-top: 10px;
      }
      h3 {
        color: rgb(253, 85, 85);
        font-size: 27px;
        font-family: "Alumni Sans Inline One", cursive;
      }
      i {
        color: rgb(250, 150, 150);
        font-size: 21px;
        font-family: "Fruktur", cursive;
      }
      p {
        color: rgb(119, 115, 113);
        text-align: center;
        font-size: 17px;
      }

      .breeds-hover {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        row-gap: 20px;
        padding-right: 29px;
        width: 100%;
        height: 100%;

        img {
          width: 40px;
          height: 40px;
        }

        button {
          padding: 0;
        }
      }
    }
  }
  #showmore {
    font-family: "Neonderthaw", cursive;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .showmore {
      border: 1px solid #fb8107;
      border-radius: 7px;
      padding: 7px 38px;
      color: #fb8107;
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 992px) {
  #pet-breeds3 {
    background-color: rgb(250, 250, 224);
    border-radius: 1%;
    margin-bottom: 17vh;
    padding-bottom: 10vh;
    h1 {
      text-align: center;
      color: rgb(240, 75, 60);
      margin-top: 40px;
      margin-bottom: 20px;
      position: relative;
      font-family: "Kumar One Outline", cursive;
      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 14%;
        background-color: rgb(6, 217, 24);
        bottom: -23%;
        left: 43%;
      }
    }
    p {
      color: rgb(218, 95, 42);
      text-align: center;
      font-size: 23px;
      font-family: "Nova Oval", cursive;
    }

    .search-sort {
      margin-bottom: 50px;
      font-family: "Neonderthaw", cursive;
      input {
        width: 100%;
        text-indent: 20px;
        height: 6vh;
        border-radius: 7px;
        border: 1px solid #fb8107;
        outline: none;
        margin-left: 10px;
        font-size: 27px;
        background-color: transparent;
        &::placeholder {
          color: #fb8107;
        }
      }
      select {
        font-size: 25px;
        height: 46px;
        color: #fb8107;
        border: 1px solid #fb8107;
        text-indent: 8px;
        background-color: transparent;
        border-radius: 7px;
        outline: none;
      }

      .button {
        border: 1px solid #fb8107;
        border-radius: 7px;
        padding: 2px 38px;
        font-size: 27px;
        color: #fb8107;
        background-color: transparent;
        margin-left: 80px;
      }
    }

    .cards {
      row-gap: 20px;

      .card {
        padding: 14px 27px;
        text-align: center;
        border-radius: 27px;
        border: 2px solid #fed56c;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        &:hover {
          .breeds-hover {
            display: flex;
            border-radius: 23px;
            background-color: rgba(rgb(7, 122, 51), $alpha: 0.2);
          }
        }
        img {
          border-radius: 20px;
          height: 30vh;
        }
        h2 {
          font-family: "Neonderthaw", cursive;
          color: rgb(252, 121, 45);
          font-size: 23px;
          padding-top: 10px;
        }
        h3 {
          color: rgb(253, 85, 85);
          font-size: 27px;
          font-family: "Alumni Sans Inline One", cursive;
        }
        i {
          color: rgb(250, 150, 150);
          font-size: 21px;
          font-family: "Fruktur", cursive;
        }
        p {
          color: rgb(119, 115, 113);
          text-align: center;
          font-size: 17px;
        }

        .breeds-hover {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-evenly;
          row-gap: 20px;
          padding-right: 29px;
          width: 100%;
          height: 100%;

          img {
            width: 40px;
            height: 40px;
          }

          button {
            padding: 0;
          }
        }
      }
    }
    #showmore {
      font-family: "Neonderthaw", cursive;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      .showmore {
        border: 1px solid #fb8107;
        border-radius: 7px;
        padding: 7px 38px;
        color: #fb8107;
        background-color: transparent;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #pet-breeds3 {
    background-color: rgb(250, 250, 224);
    border-radius: 1%;
    margin-bottom: 17vh;
    padding-bottom: 10vh;
    h1 {
      text-align: center;
      color: rgb(240, 75, 60);
      margin-top: 40px;
      margin-bottom: 20px;
      position: relative;
      font-family: "Kumar One Outline", cursive;
      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 14%;
        background-color: rgb(6, 217, 24);
        bottom: -23%;
        left: 43%;
      }
    }
    p {
      color: rgb(218, 95, 42);
      text-align: center;
      font-size: 23px;
      font-family: "Nova Oval", cursive;
    }

    .search-sort {
      margin-bottom: 50px;
      font-family: "Neonderthaw", cursive;
      input {
        width: 100%;
        text-indent: 20px;
        height: 6vh;
        border-radius: 7px;
        border: 1px solid #fb8107;
        outline: none;
        margin-left: 10px;
        font-size: 27px;
        background-color: transparent;
        &::placeholder {
          color: #fb8107;
        }
      }
      select {
        font-size: 25px;
        height: 46px;
        color: #fb8107;
        border: 1px solid #fb8107;
        text-indent: 8px;
        background-color: transparent;
        border-radius: 7px;
        outline: none;
      }

      .button {
        border: 1px solid #fb8107;
        border-radius: 7px;
        padding: 2px 38px;
        font-size: 27px;
        color: #fb8107;
        background-color: transparent;
        margin-left: 80px;
      }
    }

    .cards {
      row-gap: 20px;

      .card {
        padding: 14px 27px;
        text-align: center;
        border-radius: 27px;
        border: 2px solid #fed56c;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        &:hover {
          .breeds-hover {
            display: flex;
            border-radius: 23px;
            background-color: rgba(rgb(7, 122, 51), $alpha: 0.2);
          }
        }
        img {
          border-radius: 20px;
          height: 35vh;
        }
        h2 {
          font-family: "Neonderthaw", cursive;
          color: rgb(252, 121, 45);
          font-size: 23px;
          padding-top: 10px;
        }
        h3 {
          color: rgb(253, 85, 85);
          font-size: 27px;
          font-family: "Alumni Sans Inline One", cursive;
        }
        i {
          color: rgb(250, 150, 150);
          font-size: 21px;
          font-family: "Fruktur", cursive;
        }
        p {
          color: rgb(119, 115, 113);
          text-align: center;
          font-size: 17px;
        }

        .breeds-hover {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-evenly;
          row-gap: 20px;
          padding-right: 29px;
          width: 100%;
          height: 100%;

          img {
            width: 40px;
            height: 40px;
          }

          button {
            padding: 0;
          }
        }
      }
    }
    #showmore {
      font-family: "Neonderthaw", cursive;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      .showmore {
        border: 1px solid #fb8107;
        border-radius: 7px;
        padding: 7px 38px;
        color: #fb8107;
        background-color: transparent;
      }
    }
  }
}
