#count {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/new15.jpg");
  background-position-y: center;
  background-size: cover;
  margin-bottom: 10vh;
  margin-top: 10vh;
  .count {
    text-align: center;
    h2 {
      color: rgb(217, 125, 44);
      font-family: "Nosifer", cursive;
      font-size: 40px;
    }
    p {
      color: rgb(165, 136, 92);
      font-family: "Tilt Prism", cursive;
      font-weight: bold;
      font-size: 30px;
    }
    h1 {
      color: #8e1606;
      font-size: 23px;
      margin-bottom: 30px;
      font-family: "Rye", cursive;
      font-weight: bold;
    }
    span {
      font-family: "Rye", cursive;
      border-radius: 50%;
      color: rgb(232, 60, 8);
      background-color: rgba($color: #f793b3, $alpha: 0.1);
      padding: 25px;
      font-size: 37px;
    }
  }
}
