#count {
  padding-top: 350px;
  padding-top: 270px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/reyting3.avif");
  background-position-y: center;
  background-size: cover;
  margin-bottom: 10vh;
  margin-top: 10vh;
  .count {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    h2 {
      color: rgb(246, 123, 16);
      font-family: "Nosifer", cursive;
      font-size: 50px;
      margin-bottom: 20px;
    }
    p {
      color: rgb(252, 250, 249);
      font-family: "Tilt Prism", cursive;
      font-weight: bold;
      font-size: 36px;
      margin-bottom: 30px;
    }
    h1 {
      color: #147d4c;
      font-size: 33px;
      margin-bottom: 30px;
      font-family: "Rye", cursive;
      font-weight: bold;
    }
    span {
      font-family: "Rye", cursive;
      border-radius: 50%;
      color: rgb(199, 59, 35);
      background-color: rgba($color: #95699c, $alpha: 0.1);
      padding: 25px;
      font-size: 37px;
    }
  }
}
