#meet-team {
  background-color: #e3fce4;
  border-radius: 7%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 10vh;
  align-items: center;
  .meet-text {
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    h1 {
      color: #2e8b57;
      font-size: 54px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 17%;
        background-color: rgb(12, 218, 18);
        bottom: -23%;
        left: 42%;
      }
    }
    p {
      font-size: 23px;
      color: rgb(86, 84, 84);
    }
  }

  .search-sort {
    margin-bottom: 20px;

    input {
      width: 72%;
      text-indent: 20px;
      height: 6vh;
      border-radius: 7px;
      border: 1px solid rgb(77, 199, 77);
      outline: none;
      margin-left: 10px;
      &::placeholder {
        color: #2e8b57;
      }
    }

    .button {
      border: 1px solid rgb(77, 199, 77);
      border-radius: 7px;
      padding: 7px 38px;
      color: #0dc78f;
      background-color: transparent;
      margin-left: 80px;
    }
  }
  .meet-cards {
    row-gap: 20px;
    .card {
      border: 1px solid rgb(9, 249, 9);
      border-radius: 23px;
      position: relative;
      &:hover {
        .meet-card {
          .meet-hover {
            display: flex;
            border-radius: 23px;
            background-color: rgba(rgb(34, 138, 241), $alpha: 0.4);
          }
        }
      }

      img {
        width: 100%;
        border-radius: 23px;
        height: 30vh;
      }

      .meet-card {
        display: flex;
        flex-direction: column;
        padding: 29px;
        background-color: transparent;
        width: 100%;
        height: 100%;
        text-align: center;

        .meets-text {
          h1 {
            font-size: 30px;
            font-weight: bold;
            p {
              color: gray;
            }
          }
        }
        .meet-hover {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          row-gap: 20px;
          padding-right: 29px;
          width: 100%;
          height: 100%;

          i {
            color: #fff;
            font-size: 30px;
            &:hover {
              color: #3af9f9;
            }
          }
        }
      }
    }
  }

  #showmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .showmore {
      border: 1px solid rgb(77, 199, 77);
      border-radius: 7px;
      padding: 7px 38px;
      color: #0dc78f;
      background-color: transparent;
    }
  }
}
