#our-staff {
  background-image: url("../image/team.jpg");
  background-position: center;
  background-size: cover;

  .staff-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .our-staff {
      margin-top: 50vh;
      margin-left: 70px;
      color: #fff;
      border: 3px solid #fff;
      padding: 60px 100px;
      border-radius: 13px;
      background-color: rgba($color: rgb(2, 35, 26), $alpha: 0.2);
      h1 {
        font-size: 46px;
        font-family: "Nosifer", cursive;
      }
    }
  }
}
