#team {
  margin-top: 12vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .creative-text {
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    h1 {
      color: #2e8b57;
      font-size: 54px;
      position: relative;
      font-family: "Rampart One", cursive;

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 17%;
        background-color: #43a66e;
        bottom: -23%;
        left: 42%;
      }
    }
    p {
      font-size: 33px;
      color: rgb(97, 96, 96);
      font-family: "Ma Shan Zheng", cursive;
    }
  }
  .team-img {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: scale 2s;
      border-radius: 10px;
      &:hover {
        scale: 120%;
      }
    }
  }

  .team-text {
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 55px;
      color: #43a66e;
      font-family: "Ma Shan Zheng", cursive;
    }
    p {
      font-size: 23px;
      color: rgb(124, 118, 118);
      font-family: "Lily Script One", cursive;
    }
    .creative-parag {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        width: 80%;
        text-align: center;
      }
    }
  }
}
