#team {
  margin-top: 12vh;
  position: relative;
  .team-img {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: scale 2s;
      border-radius: 10%;
      &:hover {
        scale: 90%;
      }
    }
  }

  .team-text {
    border: 3px solid rgb(69, 154, 69);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 270px;
    right: 130px;
    height: 30vh;
    color: rgb(104, 197, 104);
    h1 {
      font-size: 53px;
    }
    p {
      font-size: 23px;
    }
  }
}
